body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

#uploadedImage {
  max-width: 100%;
  height: auto;
}

#extractedText {
  width: 100%;
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
}

.translatedTextBox {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 748px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (max-width: 747px) {
  #container {
    flex-direction: column;
  }
}
